/Probas

/UD04/ExamenUD4/src/Alumnado/

UD05/Examen/Rol/src/examen20230223/App3Tienda.java
UD05/Examen/Rol/src/examen20230223/Arma.java
UD05/Examen/Rol/src/examen20230223/Armadura.java
UD05/Examen/Rol/src/examen20230223/Item.java
UD05/Examen/Rol/src/examen20230223/PersonajeEx.java

Codigo variado/Java/memory/.vscode/launch.json
*.class
UD08/Acceso BD Remota/src/Conexion.java
UD08/Acceso BD Remota/bin/*
UD08/Acceso BD Remota/src/META-INF/persistence.xml
UD08/Actividades JDBC/src/Conexion.java
UD08/Actividades JPA/src/META-INF/persistence.xml

UD08/Actividades JPA/Persona-Actividades/src/META-INF/persistence.xml

